.section-exams {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adicionei padding para melhor espaçamento */
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 100px; /* Espaçamento entre o título e a grade */
    font-size: 2rem; /* Aumentei o tamanho da fonte do título */
    font-weight: bold;
  }
  
  .exams-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Responsivo, ajusta o número de colunas baseado na largura da tela */
    grid-gap: 40px; /* Espaçamento entre os cards */
  }
  
  .exam-card {
    display: flex; /* Alinha os elementos na horizontal */
    align-items: center; /* Centraliza os itens verticalmente */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    border-left: 30px solid #31AFE3;
    width: 400px;
    height: 70px;
    gap: 25px; 
    
}
  
  .exam-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */ 
    border-left: 30px solid #121D32;
    transform: scale(1.05); 
  }
  
  
  .exam-icon {
    margin-bottom: 0; /* Remove o espaçamento inferior */
    display: flex;
    align-items: center;
}
  
  .exam-icon img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 50px;
  }

  
  
  
  