/* Estilo do BlogInterno */
.blog-interno {
  background-color: white;
  color: #121D32;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

h3 {
  color: #27AAE1;
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  color: #27AAE1;
}

.form-post {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #121D32;
  margin-bottom: 5px; /* Adicionando um pouco de espaço entre o label e o input */
  margin-top: 5px;
}

.input-field, .textarea-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Borda arredondada para os campos */
  font-size: 16px;
  width: 100%;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.textarea-field {
  height: 150px;
  resize: none; /* Evita redimensionamento do campo de texto */
}

.input-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submit-button {
  background-color: #27AAE1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #1f8cb5;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.post-card {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-card h3 {
  font-size: 1.2rem; /* Ajuste o tamanho do título aqui */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Garante que o título será cortado com reticências se for muito longo */
}

.post-card p {
  font-size: 1rem;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Garante que a descrição será cortada com reticências se for muito longa */
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button:hover {
  background-color: #c0392b;
}
