

.dashboard-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: width 0.3s ease;
}

/* Estilo do título principal */
.dashboard-title {
  text-align: center;
  font-size: 2rem;
  color: #2e3b4e;
  margin-bottom: 20px;
}

/* Estilo para os campos de input e botões */
.input-field,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Botões */
button {
  background-color: #31AFE3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #121D32;
}

/* Mensagens de erro ou sucesso */
p {
  font-size: 1rem;
  text-align: center;
  color: #ff5722; /* Cor laranja para mensagens de erro */
}

p.success {
  color: #4caf50; /* Cor verde para mensagens de sucesso */
}

/* Formulários de entrada */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

/* Mensagens informativas */
.message {
  font-size: 1rem;
  margin-top: 20px;
  color: #333;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .dashboard-container {
    width: 95%; /* Ajusta a largura para 95% em telas pequenas */
    padding: 15px; /* Menos padding para ajustar ao espaço */
  }

  .dashboard-title {
    font-size: 1.6rem; /* Tamanho de fonte um pouco menor */
  }

  /* Estilo dos inputs e botões */
  .input-field,
  button {
    font-size: 0.9rem; /* Reduz o tamanho da fonte para dispositivos móveis */
    padding: 8px; /* Diminui o padding dos campos */
  }

  /* Mensagens de erro ou sucesso */
  p {
    font-size: 0.9rem; /* Reduz o tamanho da fonte das mensagens */
  }

  .message {
    font-size: 0.9rem; /* Ajusta o tamanho da fonte das mensagens */
  }

  /* Para a exibição do botão de anexar exame */
  .form-container {
    gap: 10px; /* Diminui o espaço entre os campos */
  }
}
