/* Estilização da seção principal */
.section-home {
  width: 100%;
  height: 580px;
  background: linear-gradient(to bottom, #29a3ef, #364867); /* Degradê dinâmico */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1; /* Certifique-se de que está acima do header */
}

/* Estilização do container principal */
.container-home {
  display: flex;
  height: 480px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco translúcido */
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
}

/* Estilização do vídeo do lado esquerdo */
.video-container {
  flex: 1; /* Ocupa metade do espaço */
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-video {
  width: 100%;
  height: 500px; /* Ajuste a altura do vídeo para corresponder à imagem */
  object-fit: cover; /* Garante que o vídeo cubra o espaço sem distorção */
}

/* Ajustando o conteúdo para ocupar o lado direito */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
}

.description {
  font-size: 1rem;
  color: #4BC6F8;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #121D32;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-size: 1rem;
}

.contact-button:hover {
  background-color: #29a3ef;
}

/* WhatsApp flutuante */
.whatsapp-fly {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-fly:hover {
  transform: scale(1.1);
}

.whatsapp-icon {
  width: 40px;
  height: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container-home {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 20px;
  }

  .video-container {
    margin-bottom: 20px;
  }

  .side-video {
    max-width: 250px; /* Ajuste a largura do vídeo */
  }

  .content {
    margin-left: 0;
  }
}
