/* Título "Sobre Nós" */
.exames-header {
    width: 250px;
    background: linear-gradient(to right, rgba(49, 175, 227, 0.8), rgba(115, 115, 115, 0.1));
    padding: 15px;
    text-align: start;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    margin-top: 10px;
    height: 50px;
}

.exames-header h2 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    
    
}






.exames-logo {
    position: absolute;
    width: 500px;
    height: auto;
}

.exames-text {
    margin-top: 80px;
    width: 800px;
    margin-left: 550px;
}

.exames-text h1 {
    color: #27AAE1;
    font-size: 25px;
}

.exames-text p {
    width: 600px;
    line-height: 180%;
    font-size: 22px;
}

/* Section Exames Cards */

.exames-section {
    text-align: center;
    padding: 40px 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.exames-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
}

.exames-card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    justify-content: space-between; /* Espaço entre os elementos */
   
}

.exames-card:hover {
    transform: translateY(-5px);
}

.exames-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.exames-icon img {
    width: 50px;
    height: 50px;
}

.exames-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.exames-card h3:hover{
    color: #121D32; 
    transform: scale(1.05); 
}

.exames-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.exames-button {
    background-color: #4BC6F8;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.exames-button:hover {
    background-color: #121D32; 
    transform: scale(1.05); 
}

.exames-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas fixas */
    gap: 20px;
    justify-content: center;
}

@media (max-width: 900px) {
    .exames-grid {
        grid-template-columns: repeat(2, 1fr); /* Reduz para 2 colunas em telas menores */
    }
}

@media (max-width: 600px) {
    .exames-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 coluna para telas pequenas */
    }
}
